/* PT Root UI - light */
@font-face {
  font-family: 'PT Root UI';
  font-style: normal;
  font-weight: 300;
  src: local(''), url('../fonts/PT-Root-UI_Light.ttf') format('ttf');
}

/* PT Root UI - regular */
@font-face {
  font-family: 'PT Root UI';
  font-style: normal;
  font-weight: 400;
  src: local(''), url('../fonts/PT-Root-UI_Regular.ttf') format('ttf');
}

/* PT Root UI - medium */
@font-face {
  font-family: 'PT Root UI';
  font-style: normal;
  font-weight: 500;
  src: local(''), url('../fonts/PT-Root-UI_Meduim.ttf') format('ttf');
}

/* PT Root UI - bold */
@font-face {
  font-family: 'PT Root UI';
  font-style: normal;
  font-weight: 700;
  src: local(''), url('../fonts/PT-Root-UI_Bold.ttf') format('ttf');
}
