// _mixins.scss

@mixin button-base($padding, $font-size, $border-radius, $bg-color) {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: $padding;
  background-color: $bg-color;
  border-radius: $border-radius;
  font-size: $font-size;
  font-weight: 500;
  text-decoration: none;
  transition: background-position 0.3s ease, box-shadow 0.3s ease;

  &:hover {
    background-position: right center;
    background-size: 200% auto;
    -webkit-animation: pulse 2s infinite;
    animation: pulse512 1.5s infinite;
  }

}

@mixin button-dark($bg-color, $text-color, $animation-color) {
  @include button-base(10px 20px, 1rem, 5px, $bg-color);
  color: $text-color;

  @keyframes pulse512-dark {
    0% {
      box-shadow: 0 0 0 0 $animation-color;
    }
    70% {
      box-shadow: 0 0 0 10px rgba(218, 103, 68, 0);
    }
    100% {
      box-shadow: 0 0 0 0 rgba(218, 103, 68, 0);
    }
  }

  &:hover {
    animation-name: pulse512-dark;
  }
}

@mixin button-light($bg-color, $text-color, $animation-color) {
  @include button-base(10px 20px, 1rem, 5px, $bg-color);
  color: $text-color;

  @keyframes pulse512-light {
    0% {
      box-shadow: 0 0 0 0 $animation-color;
    }
    70% {
      box-shadow: 0 0 0 10px rgba(218, 103, 68, 0);
    }
    100% {
      box-shadow: 0 0 0 0 rgba(218, 103, 68, 0);
    }
  }

  &:hover {
    animation-name: pulse512-light;
  }
}