/* === Colors === */
$color-violet: rgba(55, 46, 127, 1);
$color-violet-secondary: rgba(65, 45, 131, 1);
$color-dark-blue: rgba(14, 63, 102, 1);
$color-pink: rgba(198, 54, 139, 1);
$color-green: rgba(41, 192, 52, 1);
$color-white: rgba(255, 255, 255, 1);
$color-black: rgba(52, 52, 52, 1);
$color-grey: rgba(203, 203, 203, 1);

/* === Font Sizes === */
$text-sm: 14px;
$text-base: 16px;
$text-lg: 18px;
$text-xl: 21px;
$text-2xl: 24px;
$text-3xl: 36px;
$text-4xl: 48px;
$text-5xl: 64px;
$text-6xl: 66px;
$text-7xl: 72px;
$text-8xl: 80px;
$text-9xl: 96px;
$text-10xl: 122px;

/* === Font Weights === */
$weight-light: 300;
$weight-regular: 400;
$weight-medium: 500;
$weight-bold: 700;

/* === Border Radiuses === */
$border-sm: 8px;
$border-base: 45px;

/* === Effects === */
$shadow: -0 4px 15px rgba(0, 0, 0, 0.05);
